body {
  padding: 1.5rem;
  background-color: rgb(249, 252, 255);
}

h1 {
  font-size: 60px;
  line-height: 70px;
  margin: 0;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
* {
  font-family: 'Anonymous Pro', monospace;
  color: rgb(0, 49, 245);
}

section.alert {
  color: #01E5AF;
  height: 1.5rem;
  margin-top: 15px;
}

section {
  display: flex;
  flex-flow: column wrap;
  margin-top: 1rem;
}

#reserve-trip, #trip-details-list {
  border-left: 2px solid #01E5AF;;
  padding-left: 1rem;
}

#trip-details-list li strong {
  text-transform: capitalize;

}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 1rem 0;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer"
}

#trip-section {
  grid-area: left;
}

#trip-details {
  grid-area: right;
}

#reserve-trip {
  grid-area: right;
  margin-top: 2rem;
}

li#name {
  font-size: 20px;
}

li#about {
  font-size: 16px;
  line-height: 1.4;
}


div {
  margin: .5rem;
}

button {
  padding: .75rem 1.5rem;
  border: 3px solid  rgb(0, 49, 245);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  margin: 1.5rem 0;
}

button:hover {
    color: #01E5AF;;
    border: 3px solid #01E5AF;;
}

a:hover {
  text-decoration-style: dotted;
}

a {
  border-bottom: 5px;
}

input {
  margin: 0;
  height: 2rem;
  width: -webkit-fill-available;
  border-bottom: solid 1px rgb(0, 49, 245);
  border-top: solid transparent;
  border-left: solid 0px transparent;
  border-right: solid transparent;
  background-color: transparent;
  font-size: medium;
  color:  rgba(0, 49, 245, 0.479);
  text-emphasis: italic;
}