#trip-details-list li {
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right"
    "footer footer"
}

#trip-section {
  grid-area: left;
}

#trip-details {
  grid-area: right;
}

#reserve-trip {
  grid-area: right;
}

li#name {
  font-size: 20px;
}

li#id {
  color: red;
}